
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">New User</li>
        </ol>
    </nav>
</div>

<h1> New User</h1>

{{#if alert}}
<div class="alert alert-success" role="alert">
  <h3 class="alert-heading" style="margin-top:5px">Well done!</h3>
  <p style="margin-top:3px;">User Added Successfully</p>
  <br>
  <a href= "/" style="margin-bottom:2px;">Go to home page</p>
</div>
{{/if}}

{{>user_form}}